@import 'sass/libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'blocks/header/_header';
@import 'blocks/mobilemenu/_hamburger';
@import 'blocks/mobilemenu/_menu';
@import 'blocks/gallery/_gallery';
@import 'blocks/letsgo/_letsgo';
@import 'blocks/modern/_modern';
@import 'blocks/blueband/_blueband';
@import 'blocks/around/_around';
@import 'blocks/footer/_footer';
@import 'sass/libs/_globals';
@import 'sass/_media';


body
 width: 100%;
 max-width: 1440px;
 margin: 0 auto;
 font-family: Roboto;